name: CD Tests

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: "3.12"
    - name: Install apt dependencies
      run: |
        sudo apt install -y libmariadb3 libmariadb-dev python3-dev
    - name: Install pip dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Run pytest (CD only)
      env:
        ENV_MAIL_USERNAME: ${{ secrets.ENV_MAIL_USERNAME }}
        ENV_MAIL_PASSWORD: ${{ secrets.ENV_MAIL_PASSWORD }}
        ENV_SECRET_KEY: ${{ secrets.ENV_SECRET_KEY }}
      run: |
        export PYTHONPATH=$(pwd)
        if [ -f bank_db.db ]; then rm -rf bank_db.db; fi
        pytest tests/test_main.py -v
