name: CI Tests

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
    - name: Install apt dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libmariadb3 libmariadb-dev python3-dev build-essential pkg-config
    - name: Install pip dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Run pytest (CI only)
      env:
        ENV_MAIL_USERNAME: ${{ secrets.ENV_MAIL_USERNAME }}
        ENV_MAIL_PASSWORD: ${{ secrets.ENV_MAIL_PASSWORD }}
        ENV_SECRET_KEY: ${{ secrets.ENV_SECRET_KEY }}
      run: |
        export PYTHONPATH=$(pwd)
        pytest tests/test_ci.py -v
